* {
    font-family: Roboto Sans, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 200%;
    background-color: #ffffff;
}

header {
    position: relative;
    text-align: center;
    background-color: #000000;
    overflow: hidden;
}

header > img.background {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    width: 100%;
    z-index: 0;
}

header > .foreground {
    position: relative;
    margin: 120px 0 40px 0;
    z-index: 99;
}

header > .foreground > h1 {
    color: #ffffff;
}

header > .foreground > p {
    color: #afafaf;
}

a {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

h1 {
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: -4px -8px;
}

th {
    border-bottom: 1px solid #000000;
}

th,
td {
    padding: 4px 8px;
    text-align: left;
}

td > ul {
    padding: 0 0 0 18px;
}

.avatar-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 5px #6f6f6f;
    overflow: hidden;
}

.avatar-container > img {
    width: 100%;
}

.content {
    padding: 0.5in;
    max-width: 900px;
    margin: 32px auto;
}

.skill {
    font-weight: 800;
}

.text--small {
    font-size: 92%;
}

.text--centered {
    text-align: center;
}

.text--muted {
    color: #6f6f6f;
}

.text--indented {
    text-indent: 0.5in;
}
