/* Make suggestions look like links. */
.suggestion {
    color: #007bff;
    text-decoration: none;
}

.suggestion:hover {
    text-decoration: underline;
}

/* Add commas after every suggestion... */
.suggestion::after {
    content: ", ";
}

/* ...but not after the last one. */
.suggestion:last-child::after {
    content: "";
}

#suggestions {
    margin: 0 -0.75em;
}

#suggestions > span {
    cursor: pointer;
    margin: 0 0.75em;
}
